/* fonts from google fonts  */
@import url('https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200..1000;1,200..1000&display=swap');

/* common styles for all  */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Mulish", sans-serif;
}
body{
    width: 80%;
    max-width: 1170px;
    margin: 0 auto;
}

/* header section styles  */

/* nav section styles  */
nav{
    display: flex;
}
.nav-logo img{
    width: 100px;
}